<h3>New Book</h3>
<form name="bookForm" ng-submit="submitForm()" novalidate>
    <div>
        <label>Name</label>
        <input type="text" name="name" ng-model="bookDetail.name" required ng-disabled="isEditingMode()">
    </div>
    <div>
        <label>Author</label>
        <input type="text" name="author" ng-model="bookDetail.author" required ng-disabled="isEditingMode()">
    </div>
    <div>
        <label>Year</label>
        <input type="text" name="year" ng-model="bookDetail.year" required ng-disabled="isEditingMode()">
    </div>
    <div>
        <label>Gender</label>
        <input type="text" name="gender" ng-model="bookDetail.gender" required ng-disabled="isEditingMode()">
    </div>
    <div>
        <button type="submit" class="btn btn-primary" ng-disabled="bookForm.$invalid || isEditingMode()">Accept</button>
        <button class="btn btn-warning" ng-click="goBack()">Cancel</button>
    </div>
</form>